FASTAPI_ENV=development # development or production
GOOGLE_GEMINI_API_KEY=
VOYAGE_API_KEY=
FIREBASE_CREDENTIALS= # BASE64 encoded JSON

VECTOR_STORE_URL=
VECTOR_STORE_PORT=6333
VECTOR_STORE_DIMENSION=1536 # should correspond to the model's output dimension
VECTOR_STORE_DISTANCE=DOT # search metric
VECTOR_STORE= # see docs for supported stores
VECTOR_STORE_TOKEN= # this is the API Key of the Vector Store

MONGO_URI=
MONGO_PORT=27017
MONGO_DB_NAME=


RERANKER=cohere # only supporting cohere at the moment
RERANKER_API_KEY=
EMBEDDINGS_MODEL=voyage-large-2 # see docs for supported models
EMBEDDINGS_MODEL_API_KEY=

