
OPENAI_API_KEY_FOR_EMBEDDINGS=
ANTHROPIC_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_API_ENDPOINT=
PINECONE_REGION=
FASTAPI_ENV=
GOOGLE_GEMINI_API_KEY=
VOYAGE_API_KEY=
CO_API_KEY=
FIREBASE_CREDENTIALS= # should be a base64 encoded json string

VECTOR_STORE_URL=
VECTOR_STORE_PORT=
VECTOR_STORE_DIMENSION= # should correspond to the model's output dimension
VECTOR_STORE_DISTANCE= # search metric
VECTOR_STORE=
VECTOR_STORE_TOKEN=

MONGO_URI= # if self-hosted set to localhost otherwise provide the URI
MONGO_PORT=
MONGO_DB_NAME=

